.card{
  margin-left: 35%;


}

h1{
  font-family: 'Krub', sans-serif;
  text-align: center;
  font-size: 1hr;
  margin-right: 3%;
}

h5
{

  text-align: center;
}

.card-footer{
  text-align: center;
}
