
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h5>Listado de Usuarios</h5>
  <hr>
<br>
<div class="container">

  <a href="#"[routerLink]="['/create']" class="btn btn-success">Crear usuario</a>
  <br><br><br>
  <table class="table table-bordered">
    <tr>
      <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Cedula</th>
        <th scope="col">Correo</th>
      <th width="220px">Acciones</th>
    </tr>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.usuNombre }}</td>
      <td>{{ usuario.usuApellidos }}</td>
      <td>{{ usuario.usuNumDocumento }}</td>
      <td>{{ usuario.usuEmail }}</td>
      <td>
        <a href="#" [routerLink]="['/vistas/', usuario.idUsuario, 'edit']" class="btn btn-primary" style="background-color:green ;"><i class="bi bi-pencil-square"></i></a>
        <button type="button" (click)="deletePost(+usuario.idUsuario)" class="btn btn-danger" style="background-color:red ;" ><i class="bi bi-trash3-fill"></i></button>
      </td>
    </tr>
  </table>
  <button type="button" class="btn btn-primary" [routerLink]="['/dashboard']">Volver al dashborad</button>

</div>

</body>
</html>






