<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/Logo.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <input type="text" id="login" class="fadeIn second"  placeholder="Correo" formControlName="Correo">
      <input type="password" id="password" class="fadeIn third"  placeholder="Contraseña" formControlName="Contraseña">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <a href="create" class="list-group-item list-group-item-action py-2 ripple"><i
      class="fas fa-lock fa-fw me-3"></i><span>Gestionar Usuario</span></a>
    <!-- Remind Passowrd -->
    <div class="alert alert-danger"  *ngIf="errorStatus">
      <p>{{ errorMsj }}</p>
    </div>

  </div>
</div>
